{% extends "base.html" %} {% block content %} {% if not
current_user.is_authenticated %}
<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h3>Log in</h3>
              </div>
            </div>
          </div>

          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                <div id="flash-message" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <form method="POST" action="{{ url_for('auth.login') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> 
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="email" class="form-label"
                  >Username <span class="text-danger">*</span></label
                >
                {{ form.username(class="form-control", id="username",
                placeholder="Enter username") }} {% if form.username.errors %}
                <div class="text-danger">{{ form.username.errors[0] }}</div>
                {% endif %}
              </div>

              <div class="col-12 mt-2 mb-2">
                <label for="password" class="form-label"
                  >Password <span class="text-danger">*</span></label
                >
                {{ form.password(class="form-control", id="password",
                placeholder="Enter password") }} {% if form.password.errors %}
                <div class="text-danger">{{ form.password.errors[0] }}</div>
                {% endif %}
              </div>

              <div class="form-check ml-3 mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="remember"
                  id="remember"
                />
                <label class="form-check-label" for="remember"
                  >Remember Me</label
                >
              </div>

              <div class="col-12">
                <div class="d-grid">
                  {{ form.submit(class="btn btn-lg button-custom mt-2") }}
                </div>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle" />
              <div
                class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end"
              >
                <a
                  href="{{ url_for('auth.register') }}"
                  class="link-secondary text-decoration-none mr-3"
                >
                  Create new account
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
