{% extends "base.html" %} {% block content %} {% if not
current_user.is_authenticated %}
<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h3>Log in</h3>
              </div>
            </div>
          </div>
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div id="flash-message" class="alert alert-danger">
            {{ messages[0] }}
          </div>
          {% endif %} {% endwith %}
          <form method="POST" action="{{ url_for('auth.login') }}">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="email" class="form-label"
                  >Username <span class="text-danger">*</span></label
                >
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Enter Username"
                  class="float-right"
                >
                  <i
                    class="bi bi-question-circle-fill float-right"
                    style="color: rgb(57, 57, 57)"
                  ></i
                ></a>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  required
                />
              </div>
              <div class="col-12 mt-2 mb-2">
                <label for="password" class="form-label"
                  >Password <span class="text-danger">*</span></label
                >
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Enter Password"
                  class="float-right"
                >
                  <i
                    class="bi bi-question-circle-fill float-right"
                    style="color: rgb(57, 57, 57)"
                  ></i
                ></a>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  value=""
                  required
                />
              </div>
              <div class="form-check ml-3 mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="remember"
                  id="remember"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Remember Me
                </label>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-lg button-custom mt-2" type="submit">
                    Log in
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle" />
              <div
                class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end"
              >
                <a
                  href="{{ url_for('auth.register') }}"
                  class="link-secondary text-decoration-none mr-3"
                  >Create new account</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
