{% extends "base.html" %} {% block content %}
<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h3>Sign up</h3>
              </div>
            </div>
          </div>
          <form action="#!">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12 pt-2 pb-2">
                <label for="name" class="form-label"
                  >Name <span class="text-danger">*</span></label
                >
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Please enter your name to display on your account"
                  class="float-right"
                >
                  <i
                    class="bi bi-question-circle-fill float-right"
                    style="color: rgb(57, 57, 57)"
                  ></i
                ></a>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  required
                />
              </div>
              <div class="col-12 pt-2 pb-2">
                <label for="employee-id" class="form-label"
                  >Employee ID <span class="text-danger">*</span></label
                >
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Please enter your ID number, or use the arrows to select"
                  class="float-right"
                >
                  <i
                    class="bi bi-question-circle-fill float-right"
                    style="color: rgb(57, 57, 57)"
                  ></i
                ></a>
                <input
                  type="number"
                  class="form-control"
                  name="employee-id"
                  id="employee-id"
                  required
                />
              </div>
              <div class="col-12 pt-2 pb-2">
                <label for="email" class="form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Please enter your work email"
                  class="float-right"
                >
                  <i
                    class="bi bi-question-circle-fill float-right"
                    style="color: rgb(57, 57, 57)"
                  ></i
                ></a>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="name@company.com"
                  required
                />
              </div>
              <div class="col-12 pt-2 pb-2">
                <label for="username" class="form-label"
                  >Username <span class="text-danger">*</span></label
                >
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Please ensure your username has a minimum of 10 characters"
                  class="float-right"
                >
                  <i
                    class="bi bi-question-circle-fill float-right"
                    style="color: rgb(57, 57, 57)"
                  ></i
                ></a>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  required
                />
              </div>
              <div class="col-12 pt-2 pb-2">
                <label for="password" class="form-label"
                  >Password <span class="text-danger">*</span></label
                >
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="right"
                  title="Please ensure your password contains 8 or more characters, with uppercase/lowercase characters and at least one special character"
                  class="float-right"
                >
                  <i
                    class="bi bi-question-circle-fill float-right"
                    style="color: rgb(57, 57, 57)"
                  ></i
                ></a>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  value=""
                  required
                />
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-lg button-custom mt-2" type="submit">
                    Sign up
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle" />
              <div
                class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end"
              >
                <a
                  href="{{ url_for('main.login') }}"
                  class="link-secondary text-decoration-none mr-3"
                  >Already have an account? Sign in</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
